<a href="https://colab.research.google.com/github/akhilamanoharan2017/Programs/blob/main/miniproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [185]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [186]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [187]:

df = pd.read_csv("/content/drive/MyDrive/miniproject/train-data.csv")

In [188]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [189]:
df.shape

(6019, 14)

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [191]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [213]:
print(df.Name.value_counts())
print(df.Year.value_counts())
print(df.Kilometers_Driven.value_counts())
print(df.Power.value_counts())
print(df.Transmission.value_counts())
print(df.Owner_Type.value_counts())
print(df.Mileage.value_counts())
print(df.Fuel_Type.value_counts())

Mahindra XUV500 W8 2WD           49
Maruti Swift VDI                 45
Honda City 1.5 S MT              34
Maruti Swift Dzire VDI           34
Maruti Swift VDI BSIV            31
                                 ..
Ford Fiesta Titanium 1.5 TDCi     1
Mahindra Scorpio S10 AT 4WD       1
Hyundai i20 1.2 Era               1
Toyota Camry W4 (AT)              1
Mahindra Xylo D4 BSIV             1
Name: Name, Length: 1876, dtype: int64
2014    797
2015    744
2016    741
2013    649
2017    587
2012    580
2011    466
2010    342
2018    298
2009    198
2008    174
2007    125
2019    102
2006     78
2005     57
2004     31
2003     17
2002     15
2001      8
2000      4
1998      4
1999      2
Name: Year, dtype: int64
60000    82
45000    70
65000    68
50000    61
55000    60
         ..
28937     1
82085     1
68465     1
63854     1
27365     1
Name: Kilometers_Driven, Length: 3093, dtype: int64
74         235
98.6       131
73.9       125
140        123
78.9       111
          ...
76.9         1
201          1
199.3        1
95           1
181.04       1
Name: Power, Length: 372, dtype: int64
Manual       4299
Automatic    1720
Name: Transmission, dtype: int64
First             4929
Second             968
Third              113
Fourth & Above       9
Name: Owner_Type, dtype: int64
17.0      173
18.9      172
18.6      119
20.36      88
21.1       87
         ...
9.7         1
14.33       1
27.28       1
14.57       1
17.24       1
Name: Mileage, Length: 430, dtype: int64
Diesel      3205
Petrol      2746
CNG           56
LPG           10
Electric       2
Name: Fuel_Type, dtype: int64

In [214]:
df.shape

(6019, 14)

In [215]:

print(df.isnull().sum())
print(df.shape)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64
(6019, 14)

In [218]:
df.Power = df.Power.str.replace('bhp','')
df.Power = df.Power.str.replace('null','25')

display(df.dtypes)

Unnamed: 0             int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
dtype: object

In [219]:
print(df.isnull().sum())
print(df.shape)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64
(6019, 14)

In [220]:
 df.Mileage = df.Mileage.str.replace('km/kg','')
 df.Mileage = df.Mileage.str.replace('kmpl','')
  
display(df.dtypes)

Unnamed: 0             int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
dtype: object

In [221]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6,998 CC,58.16,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2,1199 CC,88.7,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8,5.0,NaN,17.74

In [222]:
x=df[['Name','Fuel_Type','Transmission','Owner_Type','Year','Kilometers_Driven','Mileage','Power']]

In [223]:
y= df['Price']

In [224]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
#Fill categorical values with 'missing' & numerical values with mean
cat_imputer=SimpleImputer(strategy="constant",fill_value="missing")
num_imputer=SimpleImputer(strategy="mean")

In [225]:
cat_features = (["Name","Fuel_Type","Transmission","Owner_Type"])
num_features =(["Year","Kilometers_Driven","Mileage","Power"])

In [226]:
imputer = ColumnTransformer([
 ("cat_imputer",cat_imputer,cat_features),
 ("num_imputer",num_imputer,num_features)])
# Transformed the Data
filled_x = imputer.fit_transform(x)
filled_x

array([['Maruti Wagon R LXI CNG', 'CNG', 'Manual', ..., 72000.0, 26.6,
        58.16],
       ['Hyundai Creta 1.6 CRDi SX Option', 'Diesel', 'Manual', ...,
        41000.0, 19.67, 126.2],
       ['Honda Jazz V', 'Petrol', 'Manual', ..., 46000.0, 18.2, 88.7],
       ...,
       ['Mahindra Xylo D4 BSIV', 'Diesel', 'Manual', ..., 55000.0, 14.0,
        112.0],
       ['Maruti Wagon R VXI', 'Petrol', 'Manual', ..., 46000.0, 18.9,
        67.1],
       ['Chevrolet Beat Diesel', 'Diesel', 'Manual', ..., 47000.0, 25.44,
        57.6]], dtype=object)

In [228]:
data_filled = pd.DataFrame(filled_x,columns=['Name','Fuel_Type','Transmission','Owner_Type','Year','Kilometers_Driven','Mileage','Power'])

In [229]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features = ["Name","Fuel_Type","Transmission","Owner_Type","Mileage"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")

transformed_x=transformer.fit_transform(data_filled);
transformed_x

<6019x2321 sparse matrix of type '<class 'numpy.float64'>'
	with 48152 stored elements in Compressed Sparse Row format>

In [230]:
print(transformed_x)

  (0, 1200)	1.0
  (0, 1876)	1.0
  (0, 1882)	1.0
  (0, 1883)	1.0
  (0, 2302)	1.0
  (0, 2318)	2010.0
  (0, 2319)	72000.0
  (0, 2320)	58.16
  (1, 512)	1.0
  (1, 1877)	1.0
  (1, 1882)	1.0
  (1, 1883)	1.0
  (1, 2179)	1.0
  (1, 2318)	2015.0
  (1, 2319)	41000.0
  (1, 2320)	126.2
  (2, 486)	1.0
  (2, 1880)	1.0
  (2, 1882)	1.0
  (2, 1883)	1.0
  (2, 2137)	1.0
  (2, 2318)	2011.0
  (2, 2319)	46000.0
  (2, 2320)	88.7
  (3, 1059)	1.0
  :	:
  (6015, 2320)	71.0
  (6016, 932)	1.0
  (6016, 1877)	1.0
  (6016, 1882)	1.0
  (6016, 1885)	1.0
  (6016, 2000)	1.0
  (6016, 2318)	2012.0
  (6016, 2319)	55000.0
  (6016, 2320)	112.0
  (6017, 1207)	1.0
  (6017, 1880)	1.0
  (6017, 1882)	1.0
  (6017, 1883)	1.0
  (6017, 2158)	1.0
  (6017, 2318)	2013.0
  (6017, 2319)	46000.0
  (6017, 2320)	67.1
  (6018, 165)	1.0
  (6018, 1877)	1.0
  (6018, 1882)	1.0
  (6018, 1883)	1.0
  (6018, 2290)	1.0
  (6018, 2318)	2011.0
  (6018, 2319)	47000.0
  (6018, 2320)	57.6

In [231]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6,998 CC,58.16,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582 CC,126.2,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2,1199 CC,88.7,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248 CC,88.76,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968 CC,140.8,5.0,NaN,17.74

In [232]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(transformed_x, y, test_size= 0.2, random_state=0)

In [233]:
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [234]:
y_pred= regressor.predict(x_test)

In [235]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.9651050819369603
Test Score:  0.8637938932976417

In [236]:
from sklearn.metrics import r2_score
print("Coefficient of determination: %.2f" % r2_score(y_test,y_pred))

Coefficient of determination: 0.86

In [237]:
from sklearn.metrics import mean_squared_error
print("Mean squared error: %.2f" % mean_squared_error(y_test,y_pred))

Mean squared error: 16.33